.body {
 height:100%;
 width:100%;
}

.div{
  overflow:auto;
  overflow-y:auto;
  overflow-x:auto;
}

.header{
 position: fixed;
 top:0;
 left:0;
 width:100%;
 padding:20px 100px;
 background: transparent;
 display: flex;
 justify-content: flex-end;
 align-items:center;
 z-index: 100;
}

.content {
  position: relative;
  bottom: 0;
  color: white;
  width: 100%;
  padding: 20px;
  
.navbar a {
 position: relative;
 font-size:18px;
 color: white;
 font-weight:500;
 text-decoration:none;
 margin-left:40px;
}

.navbar a: :before {
 content: '' ;
 position: absolute;
 top:100%;
 bottom:0;
 width:100%;
 height:2px;
 background: white;
}

 .navbar a:hover: :before {
  width: 100%;
 }

.banner h1 {
  position: relative;
  bottom: 0;
  color: white;
  width: 100%;
  padding: 20px;
}
.banner p {
   position: relative;
  bottom: 0;
  color: white;
  width: 100%;
  padding: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
