body {
  overflow: scroll; /* Show scrollbars */
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  color: white;
  width: 100%;
  padding: 20px;
  
.navbar {
  color:white;
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    position:fixed;
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    position: fixed;
    font-family:"Monaco";
}
.navbar ul li a{
    text-decoration: wavy;
    color:#fff;
    text-transform: uppercase;
}
.navbar ul li::after
   { content: '';
    height: 3px;
    width: 0;
    background: #2c066d;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after
    {width: 100%;}
h1 {
  text-align: center;
  color:white;
  font-family:"Monaco";
  font-style:oblique;
  font-size: 40px;
}
p {
  color:white;
  font-family:Georgia;
  font-style:oblique;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
